.footer{
  grid-column: 1 / -1;
  font-size: 1.5rem;
  margin-top: 9.5rem;

  &__row{
    background-color: $color-grey-light-1;
    padding: .7rem 3rem;
    display: flex;
    border: .5px solid $color-grey-light-2;
    transform: translateY(2.3rem);

    &:not(:first-child){
      justify-content: space-between;
    }

    &-1{
      display: flex;

    }
    &-item{
      text-decoration: none;
      color: $color-grey-dark-1;

      &:not(:last-child){
        margin-right: 1.5rem;
      }
      &:hover{
        text-decoration: underline $color-grey-dark-1;
      }

      &:visited{
        color: $color-grey-dark-1
      }
    }
  }
}